@charset "UTF-8";

/************************************************************/
/*                   AlmostClassless.css                    */
/************************************************************/
/** Author:  Kolja                                         **/
/** Project: https://github.com/KoljaL/AlmostClassless     **/
/************************************************************/

/* @media (prefers-color-scheme: light) {} */
:root,
:root[data-theme='light'] {
    /* Colors */
    --color-text-H: 0;
    --color-text-S: 0%;
    --color-text-L: 10%;
    --color-link-H: 268;
    --color-link-S: 50%;
    --color-link-L: 50%;
    --color-background-H: 0;
    --color-background-S: 0%;
    --color-background-L: 94%;
    --alpha-transparent: 0.05;
    --alpha-low: 1.5;
    --alpha-lowest: 1.25;
    --alpha-high: 0.25;
    --alpha-highest: 0.5;
    /* Status */
    --error: #d00;
    --warning: #ec0;
    --info: #369;
    --correct: #080;
    /* Colors */
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
}

:root[data-theme='dark'] {
    /* Colors */
    --color-text-H: 0;
    --color-text-S: 0%;
    --color-text-L: 90%;
    --color-link-H: 268;
    --color-link-S: 50%;
    --color-link-L: 70%;
    --color-background-H: 0;
    --color-background-S: 0%;
    --color-background-L: 14%;
    --alpha-transparent: 0.05;
    --alpha-low: 0.5;
    --alpha-lowest: 0.25;
    --alpha-high: 1.25;
    --alpha-highest: 1.5;
    /* Status */
    --error: #d00;
    --warning: #ec0;
    --info: #369;
    --correct: #080;
    /* Colors */
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
}

:root {
    /* Font */
    --font-family-text: 'Overpass-Light', Arial, sans-serif;
    --font-family-headline: 'Overpass-Regular', Arial, sans-serif;
    --font-size-root: 16px;
    --font-weight-bolder: 700;
    --font-weight-bold: 400;
    --font-weight-normal: 200;
    --font-weight-thin: 100;
    --font-size-link: var(--font-size-root);
    --line-height: 1.5;
    --heading-margin: 1.5rem 0 1rem;
    /* Inputs */
    --border-radius: 2px;
    /* Calculated colors */
    --color-text: hsl(var(--color-text-H), var(--color-text-S), var(--color-text-L));
    --color-text-transparent: hsla(var(--color-text-H), var(--color-text-S), var(--color-text-L) * var(--alpha-transparent));
    --color-text-low: hsl(var(--color-text-H), var(--color-text-S), calc(var(--color-text-L) * var(--alpha-low)));
    --color-text-lowest: hsl(var(--color-text-H), var(--color-text-S), calc(var(--color-text-L) * var(--alpha-lowest)));
    --color-text-high: hsl(var(--color-text-H), var(--color-text-S), calc(var(--color-text-L) * var(--alpha-high)));
    --color-text-highest: hsl(var(--color-text-H), var(--color-text-S), calc(var(--color-text-L) * var(--alpha-highest)));

    --color-link: hsl(var(--color-link-H), var(--color-link-S), var(--color-link-L));
    --color-link-transparent: hsl(var(--color-link-H), var(--color-link-S), var(--color-link-L) * var(--alpha-transparent));
    --color-link-low: hsl(var(--color-link-H), var(--color-link-S), calc(var(--color-link-L) * var(--alpha-low)));
    --color-link-lowest: hsl(var(--color-link-H), var(--color-link-S), calc(var(--color-link-L) * var(--alpha-lowest)));
    --color-link-high: hsl(var(--color-link-H), var(--color-link-S), calc(var(--color-link-L) * var(--alpha-high)));
    --color-link-highest: hsl(var(--color-link-H), var(--color-link-S), calc(var(--color-link-L) * var(--alpha-highest)));

    --color-background: hsl(var(--color-background-H), var(--color-background-S), var(--color-background-L));
    --color-background-transparent: hsl(var(--color-background-H), var(--color-background-S), var(--color-background-L) * var(--alpha-transparent));
    --color-background-low: hsl(var(--color-background-H), var(--color-background-S), calc(var(--color-background-L) * var(--alpha-low)));
    --color-background-lowest: hsl(var(--color-background-H), var(--color-background-S), calc(var(--color-background-L) * var(--alpha-lowest)));
    --color-background-high: hsl(var(--color-background-H), var(--color-background-S), calc(var(--color-background-L) * var(--alpha-high)));
    --color-background-highest: hsl(var(--color-background-H), var(--color-background-S), calc(var(--color-background-L) * var(--alpha-highest)));

    /*pico or pure css*/
    --border-radius: 0.25rem;
    --border-width: 1px;
    --outline-width: 3px;
    --spacing: 1rem;
    --typography-spacing-vertical: 1.5rem;
    --block-spacing-vertical: calc(var(--spacing) * 2);
    --block-spacing-horizontal: var(--spacing);
    --form-element-spacing-vertical: 0.75rem;
    --form-element-spacing-horizontal: 1rem;
    --nav-element-spacing-vertical: 1rem;
    --nav-element-spacing-horizontal: 0.5rem;
    --nav-link-spacing-vertical: 0.5rem;
    --nav-link-spacing-horizontal: 0.5rem;
    --form-label-font-weight: var(--font-weight);
    --transition: 0.2s ease-in-out;
    --transition-color: 0.5s ease-in-out;
    --modal-overlay-backdrop-filter: blur(0.25rem);
}

/*
 * FONT
 */
@font-face {
    font-family: Overpass-Light;
    src: url('../font/Overpass-Light.woff2') format('woff2');
    /* src: url('../font/Overpass-Thin.woff2') format('woff2'); */
}

@font-face {
    font-family: Overpass-Regular;
    src: url('../font/Overpass-Medium.woff2') format('woff2');
    /* src: url('../font/Overpass-Regular.woff2') format('woff2'); */
}

/*
 * for ALL ELEMENTS
 */
* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

/*
 * HTML & BODY
 */

html {
    font-size: var(--font-size-root);
    line-height: var(--line-height);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    transition: all var(--transition-color);
}

a {
    color: var(--color-link);
    text-decoration: none;
    font-size: var(--font-size-link);
    font-weight: var(--font-weight);
    transition: var(--transition);
}
/*
 * HEADINGS
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-headline);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    margin: 0;
}
